body {
    background-image: url(./A4.svg);
    background-repeat: repeat-y;
    font-family: 'Times New Roman', Times, Georgia, serif;
    font-size: 0.99em;
  }

  .page {
    margin: 0px 0.5cm 2cm 1.8cm;
    height: 990px;
    width: 17.5cm;
    padding: 0.5cm;
    margin-bottom: 25mm;
  }

  .before {
    height: 8px;
    border-style: solid;
    border-color: white;
    font-size: 10px;
    content: " ";
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  caption {
    padding: 10px;
    font-weight: bold;
  }

  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }

  td {
    text-align: center;
  }

  tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }

  thead {
    background-color: rgb(228 240 245);
  }
  input{
    width: 2cm;
  }